<h1>Test profile</h1>

<title>Name</title>
<style>
  .comment-box {
    border: 0.2em solid black;
    margin: 0.2em;
  }
  .comment-box * {
    margin: 0.1em;
  }
</style>

<img src="http://flaticons.net/gd/makefg.php?i=icons/Application/User-Profile.png" alt="test_profile image">

<img src="https://aggiesurplus.ucdavis.edu/pics/SurplusPropertyFormLg.jpg" alt="details">

<p>
  Lorem ipsum dolor sit amet, nemore referrentur an nec. Sea ex erant civibus, cum an legimus nusquam accumsan. Nam aliquid definitionem ea, mutat apeirian hendrerit mei ea. Cu clita scripserit sea.

  Tation epicuri ut ius, ius lorem dicunt te. Id ius ullum clita eruditi. Sed an constituam eloquentiam. Quo at esse habemus constituam, pri sensibus sadipscing te. Saepe mucius legimus an sea, incorrupte adversarium eos cu. Ne mel persius civibus lucilius, pri ei ignota deseruisse dissentiunt.
</p>

<section id="comments">
  <!-- add comment section -->
  <!--
  remember, they can either log in or or create a 
  -->
  <%if session[:user_id]%>
    <!-- username -->
    <p><%=@users.find(session[:user_id])['username']%></p>
    <form action="/users/<%=session[:user_id]%>/comments" method="POST">
      <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
      <input type="text" name="text" placeholder="comment">
      <input type="hidden" name="created_at">
      <button>Submit</button>
    </form>
  <%else%>
    <form action="/comments" method="POST">
      <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
      <input type="text" name="guestname" name="name you are posting as" required>
      <input type="text" name="text" name="comment">
      <input type="hidden" name="created_at">
      <button>Submit</button>
    </form>
  <%end%>

  <!-- show all comments from newest to oldest -->
  <%@comments.each do |comment|%>

    <section class="comment-box">
      <!-- username -->
      <%username = @users.find(comment[:user_id])[:username]%>
      <%if username%>
        <h5>username: <%=username%>
      <%else%>
        <h5>guestname: <%=@users.find(comment[:user_id])[:guestname]%>
      <%end%>

      <!-- datetime -->
      <%=comment[:created_at]%>
      </h5>

      <!-- comment -->
      <p><%=comment[:text]%></p>  
    </section>
  <%end%>

</section>
<script>
  function getDateTime() {
    var now     = new Date(); 
    var year    = now.getFullYear();
    var month   = now.getMonth()+1; 
    var day     = now.getDate();
    var hour    = now.getHours();
    var minute  = now.getMinutes();
    var second  = now.getSeconds(); 
    if(month.toString().length == 1) {
        var month = '0'+month;
    }
    if(day.toString().length == 1) {
        var day = '0'+day;
    }   
    if(hour.toString().length == 1) {
        var hour = '0'+hour;
    }
    if(minute.toString().length == 1) {
        var minute = '0'+minute;
    }
    if(second.toString().length == 1) {
        var second = '0'+second;
    }   
    var dateTime = year+'/'+month+'/'+day+' '+hour+':'+minute+':'+second;   
     return dateTime;
  }

  $('input[name="created_at"]').val( getDateTime() );
</script>